@charset "utf-8";
/* CSS Document */


@media (min-width: 900px) 
{
  .about-container 
	{
      display: flex;
	  justify-content: space-between;	
  }
	
}

@media only screen and (max-width:450px) and (min-width: 320px)
{
	
	.about-container{
		margin: 0;
	}
	#img{
		position: relative;
		left: 18px;
		width: 300px;
		height: 300px;
	}
	.about{
		padding: 20px -20px;
	}
	.about-content{
		border-radius: 0;
	}
	.about-content h1,h2,p
	{
	line-height: 10px;
	
}
	.about-content h1
	{
	font-size: 25px;
	letter-spacing: 2px;
}
	.about-content p
	{
	
	font-size: 16px;
	width: 300px;
	padding: 15px;
	line-height: 25px;
}
	.about-content #para-main
	{
	letter-spacing: 1.7px;
	font-size: 15px;	
}	
}

@media only screen and (max-width: 650px) and (min-width: 451px)
{
	#img{
		position: relative;
		left: 70px;	
	}
	
	.about-container{
		margin: 0;
	}
	
	.about-content{
		border-radius: 0;
	}
	.about-content h1
	{
	font-size: 30px;
	letter-spacing: 2px;
}
	.about-content p
	{
	
	font-size: 18px;
	width: 400px;
	padding: 17px;
	line-height: 27px;
}
	.about-content #para-main
	{
	letter-spacing: 1.7px;
	font-size: 17px;	
}	
}

@media only screen and (max-width: 850px) and (min-width: 651px)
{
	#img{
		position: relative;
		left: 120px;	
	}
	
	.about-content{
		border-radius: 0;
	}
	.about-content h1
	{
	font-size: 35px;
	letter-spacing: 2px;
}
	.about-content p
	{
	
	font-size: 19px;
	width: 500px;
	padding: 19px;
	line-height: 28px;
}
	.about-content #para-main
	{
	letter-spacing: 1.7px;
	font-size: 19px;	
}	
}

@media only screen and (max-width: 1150px) and (min-width: 851px )
{
	.about-content{
		border-radius: 0;
	}
}

@media only screen and (max-width: 900px)
{
	#logo{
		display: none;
	}
}