@charset "utf-8";
/* CSS Document */


@media (min-width: 1000px)
{
#container{
	display: flex;
}	
}

@media (max-width: 1000px)
{	
	#contact h3{
		font-size: 100%;	
	}
	
	#contact [placeholder]
	{
		font-size: 13px;
		letter-spacing: 1px;
	}	
	
	#contact input[type ="submit"]
	{
		font-size: 13px;
	}
	
	#location
	{
		margin-top: 25px;
	}
	
	#address-table{
		font-size: 15px;
	}
	
	#address-table i{
		font-size: 15px;
	}
	
	#container{
		margin-left: 5%;
	}
	
	footer{
		position: relative;
	}
	
	#social-net{
		font-size: 150%;
	}
	
	#copyiright{
		font-size: 11px;
	}
}

@media only screen and (max-width: 900px)
{
	#logo{
		display: none;
	}
}
