@charset "utf-8";
/* CSS Document */

@media only screen  and (max-width: 600px)
{
	
	.cover-part{
	
	height: 300px;
	
	
}
	
	
	.img-container{
		
		display: block;
		width: 300px;
		height: auto;
	
		
		
	}
	
	body {
		
	}
	
	.img-container .div-box{
		
		margin-bottom: 10px;
	}
}

@media only screen and (min-width: 600px) and (max-width: 1000px)
{
	.img-container{
	width: 500px;
	grid-template-columns: 48% 48% ;
	grid-template-rows: 22% 22% 22% 22%  ;
	grid-gap: 4%;
	
	
}
}



@media only screen and (max-width: 900px)
{
	#logo{
		display: none;
	}
}
