@charset "utf-8";
/* CSS Document */

@media only screen  and (max-width: 600px)
{
	
	.cover-part{
	
	height: 300px;
	
	
}
	
	
	.img-container{
		
		display: block;
		width: 300px;
		height: auto;
	
		
		
	}

	.img-container .div-box{
		
		margin-bottom: 10px;
	}
	
	
}

@media only screen and (min-width: 600px) and (max-width: 1000px)
{
	.img-container{
	/*width: 530px;*/
	/*grid-template-columns: 1fr 1fr ;
	 grid-template-rows: 22% 22% 22% 22%  ;
	grid-gap: 2%;*/
	
	
}
	
	.div-box{
		margin-bottom: -60px;
	}
}



@media only screen and (max-width: 900px)
{
	#logo{
		display: none;
	}
}
